/* Setting default background for all site */
html, body {
  height: 100vh;
  width: 100vw;
  background-color: #2B2B2B;
  color: white;
}

/* Center h1 headers and assign color. */
h1 {
  font-size: 46px;
  color: #CC7832;
  margin: 0;
}

h2 {
  margin-top: 0;
  color: #808080;
  font-size: 30px;
}

h3 {
  color: #BBB529;
  font-size: 25px;
}

footer {
  font-size: 15px;
  color: #D1243B;
  /* background-color: #808080; */
}

/* using margin auto for left and right to center content */
img {
  width: 170px;
  margin: 30px auto 30px auto;
  display: block;
  border-radius: 50px;
  border: 3px solid #008080;
}

p {
  color: #A5C261;
}

h1, h2, h3, footer, p {
  text-align: center;
  margin: 10px auto 10px auto;
}

/* Horizontal ruler*/
hr {
  height: 0.4px;
  background-color: #B200B2;
  border: 0.4px solid #B200B2;
  /* size style color */
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Pseudo-classes to style link*/
a:link    { color: #CC7832; }
a:visited { color: #008080; }
a:hover   { color: #D1243B; }
a:active  { color: #B200B2; }


li {
  color : #A5C261;
  text-align: left;
}

/* Changing list to inside position. ToDo: change background color of list */
.list-inside {
  padding: 0;
  width: 100%;
  margin: 10px auto;
}

.about-info {
  text-align: center;
  padding: 15px;
}

.info-section {
  padding: 15px;
}

.info-section p {
  text-align: justify;
}

.contact-section {
  padding: 15px;
}

/* Controlling content flow between laptop and smaller screens */
@media only screen and (min-width: 768px) {
  .list-inside {
    width: 500px;
  }
}